html, body {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #000;
	color:#fff;
}
/*
     FILE ARCHIVED ON 23:49:37 Oct 14, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:40:36 Aug 19, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.509
  load_resource: 111.039
  PetaboxLoader3.resolve: 45.178
  PetaboxLoader3.datanode: 36.682
*/